streamlit
fastapi
uvicorn
pydantic
requests
ollama
twilio
langchain
langgraph
langchain_openai
openai
python-dotenv
duckduckgo-search
faiss-cpu
sentence-transformers
pdfminer.six
langchain_community
pypdf
bs4
geopy